@model lab14Validation.Models.Students

@{
    ViewData["Title"] = "Delete";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>School Page</title>
    <link rel="stylesheet" href="~/StyleSheet.css">
    <link rel="stylesheet" href="~/DeleteDetailsStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
</head>
<body>
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GradePntAvg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradePntAvg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="button" asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>